/*  Pillarbox styling including left and right  */
.pillarbox {
    position: fixed;
    height: 2160px;
    top: 99px;
    width: 10%;
    background-color: dodgerblue;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

/* Note from Wesley 2-13-2025:
*/
/*  Preventing weird content placement */
.content {
    text-align: center;
    max-width: 80%;
    margin-left: 10%;
}

/* Note from Wesley 2-20-2025: Added this in just so all paragraph text can
have this same font family */
p {
    font-family: 'Arial';
    font-size: 16px;
}


/* Note from Wesley 2-13-2025: I removed the margin-left here as
it was causing problems with the header text being centered */
/*  Centering text for Pillarbox */
h2 {
    text-align: center;
} 


/*  @media Hides pillarboxes for Mobile Devices and smaller windows  */
@media (max-width: 768px) {
    .pillarbox {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .pillarbox {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .pillarbox {
        display: none;
    }
}

